* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  background-color: cadetblue;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.loader {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 6px solid cadetblue;     
  border-top-color: rgb(4, 4, 5);    
  animation: spin 0.7s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
