@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  background: #02234f;
  color: white;
  font-family:sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: rgba(2, 35, 79, 0.9); 
  position: sticky;
  top: 0;
  z-index: 10;
}

header .logo h2 {
  color: dodgerblue;
  font-size: 1.6rem;
}

header .navbar nav {
  display: flex;
  gap: 20px;
}

header .navbar nav a {
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  color: white;
  transition: color 0.3s;
}

.navbar nav a:hover {
  color: cornflowerblue;
}

hr {
  border: none;
  height: 2px;
  background-color: #032a6a;
  /*position: inherit;*/
}

.hero {
  display: flex;
  justify-content: space-around;
  padding: 80px 80px;
  color: white;
  gap: 60px;
}

.hero-info{
    max-width: 600px;
}

.hero-info h2 {
  font-size: 2rem;
  margin-bottom: 8px;
}

.hero-info h2 span {
  color: #38bdf8;
}


.hero-info h4 {
  font-size: 1.2rem;
  color: #38bdf8;
  margin-bottom: 10px;
}

.hero-info p{
    letter-spacing: 1px;
    line-height: 1.5rem;
    color: whitesmoke;
    margin-bottom: 20px;
}

.hero .info-btn {
  padding: 10px 0;
  display: flex;
  gap: 20px;
}

.hero .info-btn a {
  display: inline-block;
  padding: 12px 25px;
  background: #38bdf8;
  color: #02234f;
  font-weight: 600;
  border-radius: 8px;
  text-decoration: none;
  transition: all 0.3s ease;
  border: 2px solid #38bdf8;
}

.hero .info-btn a:hover {
  background: transparent;
  color: #38bdf8;
  box-shadow: 0 0 15px rgba(56, 189, 248, 0.6);
  transform: translateY(-3px); /* thoda lift-up effect */
}


.icons {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.icons a {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;

  border: 1.5px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  color: rgba(255, 255, 255, 0.9);
  font-size: 1.4rem;

  background: rgba(255, 255, 255, 0.05); /* subtle transparent white */
  backdrop-filter: blur(8px); /* glassy look */
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.05);

  text-decoration: none;
  transition: all 0.3s ease;
}


.icons a:hover {
  border-color: #38bdf8;
  color: #38bdf8;
  box-shadow: 0 0 20px rgba(56, 189, 248, 0.4);
  transform: scale(1.1);
  background: rgba(56, 189, 248, 0.08);
}



.hero .img-sec {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  border: 3px solid #38bdf8;
  overflow: hidden;
  object-fit: fill;
  box-shadow: 0 0 20px rgba(56, 189, 248, 0.5);
}

.hero .img-sec img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about {
   padding: 60px 10%;
  background: #03265e;
  color: white;
}

.about h2{
  color: #3aacde;
  font-size: 2.5rem;
  text-align: center;
 margin-bottom: 60px;
 padding-top: 40px;
  position: relative;
}

.about h2::after {
  content: "";
  display: block;
  width: 80px;
  height: 3px;
  background: #38bdf8;
  margin: 10px auto 0;
  border-radius: 2px;
}


.about-section{
  display: flex;
  justify-content: space-between;
  align-items: center; 
 gap: 60px;
  
}

.about-img{
  width: 300px;
  height: 300px;
  border-radius: 25px;
  border: 3px solid rgba(56, 189, 248, 0.6);
  object-fit: fill;
  overflow: hidden;
  transition: 0.3s ease;
  box-shadow: 0 0 15px rgba(56, 189, 248, 0.6);
}

.about-img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px rgba(56, 189, 248, 0.8);
}

.about-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-info {
  max-width: 600px;
}


.about-info h4 {
   font-size: 1.4rem;
  color: #38bdf8;
  margin-bottom: 12px;
}

.about-info p{
 font-size: 1rem;
  line-height: 1.6rem;
  color: #95a4b8;
  margin-bottom: 15px;
  word-spacing: 2px;
  word-wrap: normal;
}


.about-info a {
  display: inline-block;
  background: #38bdf8;
  color: #02234f;
  padding: 10px 24px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  border: 2px solid #38bdf8;
  transition: all 0.3s ease;
}

.about-info a:hover {
  background: transparent;
  color: #38bdf8;
  box-shadow: 0 0 15px rgba(56, 189, 248, 0.5);
  transform: translateY(-3px);
}