body {
  background-color: rgb(255, 255, 254);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0%;
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 100px;
}

.dot {
  width: 20px;
  height: 20px;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  animation: bounce 1.5s infinite ease-in-out;
}

.dot:nth-child(1) {
  animation-delay: 0s;
}
.dot:nth-child(2) {
  animation-delay: 0.2s;
}
.dot:nth-child(3) {
  animation-delay: 0.4s;
}
.dot:nth-child(4) {
  animation-delay: 0.6s;
}
.dot:nth-child(5) {
  animation-delay: 0.8s;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30%);
  }
}
